<h1><%= image_tag @user.profile_picture.url(:medium) %> <%= @user.nickname %></h1>

<% if current_user.id == @user.id %>
	<%= link_to edit_user_registration_path, method: 'GET' do %> 
    Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  <% end %>
	<%= link_to "/users/#{@user.id}", method: :delete, data: { confirm: 'Are you sure?' } do %> 
    Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><br>
  <% end %>
	<%= link_to new_review_path, method: :delete, data: { confirm: 'Are you sure?' } do %> 
    New Review <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  <% end %>
<% end %><br>

<ul>
	<% @user.reviews.each do |review| %>
		<li>
			<div class="row" id="review">
				<div class="col-md-1 col-md-offset-1">
				</div>
				<div class="col-md-3">
					User: <%= review.user_id %><br>
					Car: <%= review.car_id %><br>
					Fuel type: <%= review.fuel_type %>
				</div>
				<div class="col-md-3">
					Car year: <%= review.model_year %><br>
					Car: <%= review.car_id %><br>
					Engine type: <%= review.engine_type %>
				</div>
				<div class="col-md-3">
					<p class="text-right"><%= review.punctuation %> <span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
					kilometers: <%= review.kilometers %> km<br>
					Horsepower: <%= review.horsepower %> hp<br><br>
				</div>
				<div class="col-md-12">
					Comment:<br>
					<div id="review-comment">	
						<%= review.comment %>
					</div>
				</div>
			</div>
			<% if current_user.id == @user.id %>
				<%= link_to edit_review_path(review.id), method: 'GET' do %> 
    			Edit <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  			<% end %>
				<%= link_to review_path(review.id), method: :delete, data: { confirm: 'Are you sure?' } do %> 
    			Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><br>
  			<% end %>
			<% end %>
		</li>
	<% end %>
</ul>