<h1>Cars</h1>

<ul>
<% @cars.each do |car| %>
	<li>
		<%= car.brand %>
	</li>
	<li>
		<img src="/assets/Brands/<%= car.brand_logo %>">
		<%= image_tag "Brands/car.brand_logo" %>
		<%= image_tag "AlfaRomeo.jpg" %>
	</li>
	<li>
		<%= car.model %>
	</li>
	<li>
		<img src="/assets/Models/<%= car.model_photo %>">
		<%= image_tag "Models/car.model_photo" %>
	</li>
<% end %>
</ul>

