<%= form_for (@review) , html: {class: 'form-horizontal'} do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:

      <ul>
        <% @review.errors.full_messages.each do |message| %>
        <li><p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><%= message %></p></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :brand %><br>
  <%= select_tag 'brand', options_for_select( Car.all.pluck(:brand).uniq { |brand| brand }) %>
  <br>

  <%= f.label :model %><br>
  <%= f.select 'car_id', options_for_select( Car.all.collect { |u| [u.model, u.id] }, :selected => f.object.car_id), {}, class: 'asdfasdf' %> 
    
  <div class="field">
    <%= f.label :model_year %><br>
    <%= f.text_field :model_year, autofocus: true, class: 'adsfa' %>
  </div>

  <div class="field">
    <%= f.label :kilometers %><br>
    <%= f.text_field :kilometers %>
  </div>

    <%= f.label :fuel_type %><br>
    <%= f.select 'fuel_type', options_for_select(["Gasoline","Diesel", "Hybrid", "Electric"], :selected => f.object.fuel_type) %>

  <div class="field">
    <%= f.label :engine_type %><br>
    <%= f.text_field :engine_type %>
  </div>

  <div class="field">
    <%= f.label :horsepower %><br>
    <%= f.text_field :horsepower %>
  </div>

  <div class="field">
    <%= f.label :punctuation %> <i>(number from 0 to 5)</i><br>
    <%= f.text_field :punctuation %>
  </div>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <%= f.button %><br><br>

  <%= link_to 'Cancel', user_path(current_user) %>
<% end %>