<%= form_for(@review) do |f| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :brand %><br>
  <%= select_tag 'brand', options_for_select( Car.all.pluck(:brand).uniq { |brand| brand }) %>
  <br>

  <%= f.label :model %><br>
  <%= f.select 'car_id', options_for_select( Car.all.collect { |u| [u.model, u.id] }, :selected => f.object.car_id) %> 
    
  <div class="field">
    <%= f.label :model_year %><br>
    <%= f.text_field :model_year, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :kilometers %><br>
    <%= f.text_field :kilometers %>
  </div>

    <%= f.label :fuel_type %><br>
    <%= f.select 'fuel_type', options_for_select(["Gasoline","Diesel", "Hybrid", "Electric"], :selected => f.object.fuel_type) %>

  <div class="field">
    <%= f.label :engine_type %><br>
    <%= f.text_field :engine_type %>
  </div>

  <div class="field">
    <%= f.label :horsepower %><br>
    <%= f.text_field :horsepower %>
  </div>

  <div class="field">
    <%= f.label :punctuation %> <i>(number from 1 to 5)</i><br>
    <%= f.text_field :punctuation %>
  </div>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <%= f.button %><br><br>

  <%= link_to 'Cancel', user_path(current_user) %>
<% end %>